# Capstone Project<br>
Machine Learning Engineering Nanodegree<br>
Michal Kozinski

Project Overview

from zipfile import ZipFile

# Create a ZipFile Object and load sample.zip in it
with ZipFile('spanish-stocks-historical-data.zip') as zipObj:
# Extract all the contents of zip file in current directory
    zipObj.extractall("data")

In [14]:
import os as os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

%matplotlib inline

In [52]:
stocks = os.listdir("data")

In [58]:
pd.read_csv("data/" + stocks[0]).head(5)

         Date  Close  High   Low  Open  Volume
0  2009-02-11   5.59  5.59  5.52  5.57       0
1  2009-02-12   5.43  5.55  5.43  5.53       0
2  2009-02-13   5.50  5.62  5.50  5.55       0
3  2009-02-16   5.35  5.50  5.35  5.48       0
4  2009-02-17   5.66  5.66  5.34  5.35       0

In [59]:
original_df = pd.DataFrame()
for stock in stocks:
    original_df[stock] = pd.read_csv("data/" + stock, index_col = "Date")["Close"]
for i in range(len(original_df.columns)):
    original_df.columns.values[i] = original_df.columns.values[i][:-4]
    
original_df.head()

,iberdrola,naturgy-energy,enags,santander,atresmedia,acciona,repsol,colonial,inditex,caixabank,...,bme,bbva,grifols,siemens-gamesa,telefnica,abengoa,bankinter,mapfre,indra,red-elctrica
Date,,,,,,,,,,,,,,,,,,,,,
2009-02-11,5.59,17.14,13.71,5.87,3.45,88.70,14.42,NaN,32.35,2.49,...,16.77,7.17,13.05,13.27,14.33,12.97,7.14,2.28,15.64,32.78
2009-02-12,5.43,16.55,13.81,5.71,3.45,86.55,13.68,NaN,30.23,2.49,...,16.87,6.85,13.18,12.79,13.90,12.40,7.08,2.26,15.01,33.10
2009-02-13,5.50,16.41,13.06,5.72,3.77,87.15,13.90,NaN,31.94,2.54,...,16.50,6.88,12.95,13.25,14.59,12.72,7.23,2.15,15.53,31.80
2009-02-16,5.35,16.02,12.38,5.49,3.53,85.50,13.61,NaN,30.85,2.44,...,16.23,6.54,13.18,13.07,14.30,12.56,7.03,2.08,15.63,32.01
2009-02-17,5.66,16.30,13.02,5.12,3.33,81.40,13.15,NaN,29.50,2.38,...,15.56,6.01,13.19,12.63,13.87,11.90,7.08,2.03,15.28,31.06

In [60]:
original_df.describe()

,iberdrola,naturgy-energy,enags,santander,atresmedia,acciona,repsol,colonial,inditex,caixabank,...,bme,bbva,grifols,siemens-gamesa,telefnica,abengoa,bankinter,mapfre,indra,red-elctrica
count,2604.000000,2604.000000,2604.000000,2604.000000,2601.000000,2603.000000,2604.000000,2242.000000,2604.000000,2570.000000,...,2604.000000,2604.000000,2604.000000,2604.000000,2604.000000,2603.000000,2604.000000,2604.000000,2604.000000,2604.000000
mean,5.396829,16.967475,20.381432,6.027944,7.908727,66.590903,15.634099,4.306224,34.989477,3.463835,...,25.531759,7.360235,19.051526,9.852517,11.852211,5.840077,5.847859,2.606791,11.441373,28.540112
std,1.063294,4.257420,5.047747,1.990627,3.165302,14.117735,3.194638,3.528028,14.793311,0.737223,...,5.980988,1.830331,5.963078,5.207956,3.424996,7.563162,2.032695,0.383327,2.353781,11.249886
min,2.479000,8.500000,10.890000,3.190000,2.860000,30.470000,7.384000,0.060000,15.580000,1.811000,...,13.170000,4.191000,8.010000,1.006000,6.633000,0.010600,1.350000,1.323000,6.103000,14.980000
25%,4.679000,13.019250,15.198750,4.588000,4.940000,59.140000,13.581250,0.318500,23.850000,2.829000,...,20.261500,5.971000,12.831000,5.510000,9.240250,0.448500,4.477750,2.370000,9.748750,18.389250
50%,5.621500,17.522500,21.522500,5.491000,7.655000,67.560000,15.738000,5.750000,30.130000,3.500000,...,25.750000,7.196000,19.300000,9.839500,10.937000,2.454000,6.368000,2.634000,11.097500,29.790000
75%,6.080000,20.441250,25.010000,6.848250,10.570000,74.535000,17.483250,7.064000,42.552500,4.020000,...,29.496250,8.457500,23.910250,13.571250,13.852500,4.626000,7.300000,2.880000,13.140000,36.550000
max,8.870000,26.950000,29.400000,11.980000,15.670000,105.700000,24.090000,10.140000,81.530000,5.240000,...,43.300000,13.220000,33.840000,20.880000,19.800000,24.000000,9.520000,3.605000,17.820000,64.900000